
body {
  font-size: 14px;
}

nav {
  background-color: yellow;
  height: 100px;
  margin-top: 0;
  position: fixed;
  width: 100%;
}
  section {
  margin: 0 auto;
  width: 60%;
  
}
h1 {
  font-family: sans-serif;
  font-size: 2em;
}
.example h3 {
  padding-top: 30px;
  text-align: center;
  font-size: 1.3em;
}
.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}
/*New Class for new color*/
.feature {
  background-color: red;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}
